# Package directories
/node_modules
/dist
/.serverless

# IDE specific files
.vscode

# Log files
*.log

# ENV variables and secrets
.env
aws.env

# Config files
**/airkeeper.json
**/config.json
**/secrets.env