# Package directories & files
/node_modules
/dist
/.serverless
*.tgz

# IDE specific files
.vscode

# Coverage
/coverage

# Log files
*.log

# ENV variables and secrets
.env
aws.env

# Config files
**/airkeeper.json
**/config.json
**/secrets.env
**/psp-beacon-local.json

# Temporarily add airnode for unpublished changes
airnode

# Hardhat files
cache

# Ignore log files
logs
*.log