# Package directories & files
/node_modules
/dist
/lib
/.build
/.serverless
*.tgz

# IDE specific files
.vscode

# Log files
*.log

# ENV variables and secrets
.env
aws.env

# Config files
**/airkeeper.json
**/config.json
**/secrets.env
