{
  "chains": [
    {
      "contracts": {
        "RrpBeaconServer": "0x610178dA211FEF7D417bC0e6FeD39F05609AD788"
      }
    }
  ],
  "triggers": {
    "rrpBeaconServerKeeperJobs": [
      {
        "templateId": "0xe3214e41c4aad33825c4970025a59db034f98145f33c6bfcb8b38a6b55336584",
        "oisTitle": "Currency Converter API",
        "endpointName": "convertETHToUSD",
        "deviationPercentage": "5",
        "keeperSponsor": "0x2479808b1216E998309A727df8A0A98A1130A162",
        "requestSponsor": "0x61648B2Ec3e6b3492E90184Ef281C2ba28a675ec"
      }
    ]
  }
}
