name: Continuous Build

on:
  push:
  pull_request:
    branches:
      - main
    types: [opened, synchronize, reopened]

env:
  DOCKER_BUILDKIT: 1

jobs:
  documentation:
    name: Check documentation
    runs-on: ubuntu-latest
    steps:
      - name: Clone Airkeeper
        uses: actions/checkout@v2
      - name: Check hyperlinks
        uses: gaurav-nelson/github-action-markdown-link-check@v1
        with:
          config-file: .github/workflows/mlc_config.json

  lint-compile:
    name: Build Airkeeper
    runs-on: ubuntu-latest
    steps:
      - name: Clone Airkeeper
        uses: actions/checkout@v2
      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: '14'
          cache: 'yarn'
      - name: Install Dependencies
        run: yarn install --frozen-lockfile
      - name: Lint
        run: yarn lint
      - name: Compile
        run: yarn compile

  unit-tests:
    name: Unit tests
    runs-on: ubuntu-latest
    needs: lint-compile
    steps:
      - name: Clone Airkeeper
        uses: actions/checkout@v2
      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: '14'
          cache: 'yarn'
      - name: Install Dependencies
        run: yarn install --frozen-lockfile
      - name: Test
        run: yarn test
  e2e-tests:
    name: E2E tests
    runs-on: ubuntu-latest
    needs: lint-compile
    steps:
      - name: Clone Airkeeper
        uses: actions/checkout@v2
      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: '14'
          cache: 'yarn'
      - name: Install Dependencies
        run: yarn install --frozen-lockfile
      - name: Start background services
        run: yarn run dev:background
      - name: Test
        run: yarn test:e2e
  docker-build:
    name: Build docker image and push to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Clone Airkeeper
        uses: actions/checkout@v2
      - name: Build Airkeeper docker image
        run: |
          docker build -t api3/airkeeper-dev:${{ github.sha }} .
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Push Airkeeper image to Docker Hub
        run: |
          docker push api3/airkeeper-dev:${{ github.sha }}
  build-complete:
    name: All tests passed
    runs-on: ubuntu-latest
    needs: [documentation, docker-build, unit-tests]
    steps:
      - run: exit 0
      - name: Slack Notification
        uses: lazy-actions/slatify@master
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        # env.SLACK_WEBHOOK_URL != null is a workaround dependabot not having access to secrets
        if: ${{ always() && env.SLACK_WEBHOOK_URL != null }}
        with:
          channel: '#technical-notifications'
          commit: true
          job_name: 'Airkeeper - Continuous Build'
          token: ${{ secrets.ACCESS_TOKEN }}
          type: ${{ job.status }}
          url: ${{ secrets.SLACK_WEBHOOK_URL }}
